
/* Style of settings view */
.title {
    -fx-text-fill: white;
    -fx-font-size: 50px;
}

#titleSeparator {
    -fx-pref-height: 20;
}

.settingLine {
    -fx-spacing: 20;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-max-width: 500px;
}

.settingLine .label {
    -fx-text-fill: white;
    -fx-font-size: 30px;
}