
/* GLOBAL */

.button {
    -fx-font-family: 'Press Start 2P', cursive;
    -fx-padding: 15 25 15 25;
    -fx-font-size: 15px;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-background-color: rgb(5, 137, 5);
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(153, 153, 153, 0.9), 5, 0, 0, 0);
    -fx-margin: 10 0 10 0;
}

.button:hover {
    -fx-background-color: rgb(6, 130, 6);
    -fx-effect: dropshadow(gaussian, rgba(102, 102, 102, 0.9), 5, 0, 0, 0);
}

.button:pressed {
    -fx-background-color: rgb(6, 110, 6);
    -fx-effect: dropshadow(gaussian, rgba(102, 102, 102, 0.9), 1, 0, 0, 0);
    -fx-translateY: 6;
}

.combo-box {
    -fx-font-family: 'Press Start 2P', cursive;
    -fx-font-size: 15px;
    -fx-cursor: hand;
    -fx-background-color: rgb(5, 137, 5);
    -fx-background-radius: 15;
    -fx-text-fill: white;
    -fx-padding: 7 25 7 10;
}

.combo-box .arrow-button {
    -fx-background-color: rgb(5, 137, 5);
    -fx-padding: 5;
    -fx-shape: "M0,0 L10,5 L0,10 Z";
    -fx-scaleShape: true;
    -fx-scaleX: 1.5;
    -fx-scaleY: 1.5;
    -fx-text-fill: white;
}

.combo-box .list-view {
    -fx-border-width: 0;
    -fx-background-color: black;
}

.combo-box .list-cell {
    -fx-padding: 10 25;
    -fx-background-color: rgb(5, 137, 5);
    -fx-text-fill: white;
}

.combo-box .list-cell:hover {
    -fx-background-color: rgb(6, 130, 6);
}

.combo-box .list-cell:pressed {
    -fx-background-color: rgb(6, 110, 6);
}

.combo-box .label {
    -fx-padding: 0 0 0 10;
    -fx-alignment: CENTER_LEFT;
}